@model BookCreateViewModel
@using Online_Book_Library_MVC.Data.Enums

@{
    ViewData["Title"] = "Create a new book";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            <h4>Create a new book</h4>
        </p>
        
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4 offset-md-4 text-center">
                        <img width="50%" id="ImageURLPreview" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input asp-for="ImageUrl" class="form-control" id="ImageUrl" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Resume" class="control-label"></label>
                                <textarea asp-for="Resume" class="form-control"></textarea>
                                <span asp-validation-for="Resume" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="PublishedYear" class="control-label"></label>
                                <input asp-for="PublishedYear" class="form-control" />
                                <span asp-validation-for="PublishedYear" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Pages" class="control-label"></label>
                                <input asp-for="Pages" class="form-control" />
                                <span asp-validation-for="Pages" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookGenre" class="control-label"></label>
                                <select asp-for="BookGenre" class="form-control" asp-items="Html.GetEnumSelectList<BookGenre>()"></select>
                                <span asp-validation-for="BookGenre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublisherId" class="control-label"></label>
                                <input asp-for="PublisherId" class="form-control" />
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorId" class="control-label"></label>
                                <input asp-for="AuthorId" class="form-control" />
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImageURLPreview');
            var imageUrlInput = $('#ImageUrl');

            output.src = imageUrlInput.val();

            imageUrlInput.on("input", function () {
                output.src = $(this).val();
            });
        });
    </script>
}
